html {
    font-family: 'star jedi' ;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* styles for the headline */

.headline__top, .headline__middle,
.headline__bottom {
    font-family: 'star jedi hollow';
    color: yellow;
    font-size: 2.8125rem;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headline__middle {
    font-size: 4.25rem;
}


 /* styles for the navigation links */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    font-family: 'star jedi';
    color: yellow;
    font-size: 1.25rem;
    text-decoration: none;
    margin: 1.25rem 0.625rem; /* Adjust margin as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    /* position: relative;
    overflow: hidden; */
  }

a:hover {
    color: white;
}

.info__box__container {
    margin-top: 1.25rem;
    background-color: azure;
    height: 8.125rem;
    border-radius: 1.25rem;
}

.info__box__text {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

/* styles for a possible shooting star effect */

/* a::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: white;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

a:hover::before {
    top: 50%;
    opacity: 1;
    transform: translateX(-50%) rotate(45deg);
    transition: opacity 0.3s, transform 0.3s;
} */
    

/* character site styles */

h1 {
    text-align: center;
    color: yellow;
}

.heading {
    border: 0.125rem solid white;
    display: flex;
    height: 3.125rem;
    font-size: 1.875rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.record__gender, .record__species, 
.record__haircolor, .record__eyecolor {
    flex-basis: 10%;
}

.record__name, .record__films,
.record__picture {
    flex-basis: 20%;
}

.heading span {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 1.25em;
    color: white;
}
