html {
    font-family: 'star jedi' ;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headline__top, .headline__middle,
.headline__bottom {
    font-family: 'star jedi hollow';
    color: yellow;
    font-size: 2.8125rem;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headline__middle {
    font-size: 4.25rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    font-family: 'star jedi';
    color: yellow;
    font-size: 1.25rem;
    text-decoration: none;
    margin: 0 0.625rem; /* Adjust margin as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
    